#projects

	%div
		%h1= "Projects"

	%div

		%div

			%h2= "Flashquest"

			%p
				Lead engineer / developer. Responsible for making technological decisions and implementing them. Building our V1 backend using Ruby on Rails, Node.js, Express.js, MongoDB. In charge of building our interactive business portal as well as json RESTful api. Utilizing behavior driven development and technologies such as Cucumber to assist business team and development team communicate effectively.

			%a{:href=>"http://flashquest.com"}= "Site"	

		%div						

			%h2= "Extensive Unix Configuration/Scripting/Dotfiles Project"

			%p 

				Have created a place to store all of my machine configuration as I explore advanced parts of the Unix operating system. Constantly am contributing to this project as I strive to improve workflow by exploring new technologies and tools.

			%a{:href=>"http://github.com/MorehouseJ09/dotfiles"}="Dotfiles Repo"

		%div

			%h2= "Prospero"

			%p

				Currently launching a full service application / website for a commerical real estate company in Canada. Implemented a complete CMS for non-technical employees to update site. Built using a LAMP backend with the CodeIgniter framework. I implemented a build tool for the project using Node.js as well as a custom search engine using C++.

			%a{:href=>"http://prospero.jonmorehouse.me"}= "Working Demo"
			%a{:href=>"http://github.com/MorehouseJ09/prospero"}= "Main Repo"
			%a{:href=>"http://github.com/MorehouseJ09/search_module"}= "Search Repo"
			%a{:href=>"http://github.com/MorehouseJ09/prospero_build"}= "Build Tool Repo"

		%div

			%h2= "Advanced File Synchronization"

			%p
				I created a program using Python and MongoDB to dynamically perform advanced synchronizations of local files. I'm currently researching various sync algorithms to help implement this more efficiently in GoLang.

			%a{:href=>"http://github.com/MorehouseJ09/directory_sync"}= "Directory Sync Repo"

		%div 

			%h2= "OpenGL / WebGL HeightField Project"	

			%p 

				I created an interactive 3-d height field imaging tool using OpenGL and C++. I'm currently exploring a way to take this project onto the web using WebGL. Currently working on this using some tools such as Express.js, Three.js, Backbone.js and Mocha.js.

			%a{:href=>"http://github.com/MorehouseJ09/opengl_heightfield"}= "HeightField Repo"


		%div	

			%h2= "USC Medical School 3D Brain Imaging Application"

			%p

				I'm currently building a 3-d web application that transforms craniofacial MRI data into an interactive user experience. The application allows user to not only learn about facial structure, but also upload their own MRI data to compare and find deformities. The application consists of a C++ program written to extract vector data from DICOM format data as well as a javascript based front end app. I'm using WebGL with Three.js and Coffeescript to implement the interactive experience as well as an express.js app on the backend.
		%div

			%h2= "DNS / General Networking"

			%p
				I'm interested in the various networking protocols and am doing some directed research in my spare time. I'm currently hacking on a DNS Server technology called Bind to implement my own local DNS resolver.

		



