#school

	%div
		%h1= "Education"

	%div

		%div 

			%h2= "Pepperdine University 2009-2010"

			%span= "Physics / Chemistry."

			%h2= "University of Southern California"

			%span= "B.S. Computer Engineering Computer Science expected Spring 2015"
			%br
			%span= "Previously Aerospace Mechanical Engineering"
			%br
			%span= "Overall GPA: 2.5"
			%br
			%span= "Major GPA: 3.2"
			%br
			%span= "Relevant Courses:"	

			%ul
				%li= "CSCI 101 / 102 - Intro to programming / Data Structures"
				%li= "ITP 425 - Web Application Security"
				%li= "ITP 115 - Introduction to Python"
				%li= "CSCI 480 - Graphics Programming (current)"
				%li= "CSCI 271 - Discrete Mathematics (current)"
				%li= "ITP 499 - Professional C++ (current)"

	

