#skills

	/ header
	%div

		%h1= "Skills"

	/ will have three columns of skills here!
	%div 	
		
		%div

			%h2= "Languages"		
			%ul

				%li= "Python"
				%li= "Ruby"
				%li= "PHP"
				%li= "Javascript / Coffeescript"
				%li= "Bash"
				%li= "C"
				%li= "C++"
				%li= "GoLang"
				%li= "Some Java"
				%li= "Some Assembly"
				%li= "Some Haskell"
				%li= "Some Lisp"

		%div 

			%h2= "Technologies"
			%ul 

				%li= "HTML/CSS"
				%li= "Javascript MVC / Backbone / Angular"
				%li= "Node / Express - Javascript"
				%li= "Rails / Middleman / Sinatra - Ruby"
				%li= "Django / Flask - Python"
				%li= "Codeigniter / Laravel - PHP"
				%li= "Mac / Unix / Windows"
				%li= "SQL / NoSQL"
				%li= "MongoDB / mySQL / Redis / Memcached"
				%li= "ElasticSearch"
				%li= "LAMP/Unix Server Deployment"	
				%li= "Git / Mercurial / SVN"
				%li= "Web application / network security"
				%li= "Test / Behavior Driven Development"
				%li= "QT / OpenGL / WebGL"

		%div

			%h2= "Multimedia"
			%ul
				%li= "Photoshop"
				%li= "Illustrator"
				%li= "Final Cut Pro"
				%li= "Sketchup"
				
