#header
	
	%h1= "ALL PRODUCTS"

#sidebar

	

#shop
	%div
		%a	
			= placeholdit_image_tag "300"

	%div
		%a	
			= placeholdit_image_tag "300"

	%div
		%a	
			= placeholdit_image_tag "300"
	%div
		%a	
			= placeholdit_image_tag "300"
	%div
		%a	
			= placeholdit_image_tag "300"
	%div
		%a	
			= placeholdit_image_tag "300"

	%div
		%a	
			= placeholdit_image_tag "300"

	%div
		%a	
			= placeholdit_image_tag "300"
	%div
		%a	
			= placeholdit_image_tag "300"
	%div
		%a	
			= placeholdit_image_tag "300"
	%div
		%a	
			= placeholdit_image_tag "300"

	%div
		%a	
			= placeholdit_image_tag "300"

	%div
		%a	
			= placeholdit_image_tag "300"
	%div
		%a	
			= placeholdit_image_tag "300"
	%div
		%a	
			= placeholdit_image_tag "300"
