#gallery
	
	.slider
	
		.slide	
			= placeholdit "1000x500"

		.slide
			= placeholdit "1000x500"		

		.slide
			= placeholdit "1000x500"

#about


	%h1= "Our Story"

	%div

		= placeholdit "500"


	%div

	%div



