#gallery
	
	%div
	
		%div
			= placeholdit "1000x500"

		%div 
			= placeholdit "1000x500"		

		%div
			= placeholdit "1000x500"

#about


	%h1= "Our Story"

	%div

		= placeholdit "500"


	%div

	%div



