---
  title: Jon Morehouse's Resume
  css: resume
  javascripts: all 
---


/--- ATTENTION HACKERS ---
/ Thanks for checking out the source code of my page. 

/ Be sure to follow me on Twitter where I try to talk about the stuff I'm using and working on currently. @jonmorehouse

/ I'm also on Github (way too much). Check me out at http://github.com/MorehouseJ09
/-------------------------------------------


#forkme

	%a{:href=>"https://github.com/MorehouseJ09/resume"}

		%img{:src=>"../images/logos/forkme.png"}



/ include the basic header
= partial "partials/header"

#container
	
	= partial "partials/overview"
	= partial "partials/projects"
	= partial "partials/experience"
	= partial "partials/skills"
	= partial "partials/school"

= partial "partials/footer"



